.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;

  height: 330px;
  margin: 50px 0;
  padding: 50px;

  background-color: rgba(0, 0, 0, 0.5);
}

.page-layout-agent {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;

  height: 330px;
  margin: 50px 0;
  padding: 50px;

  transition: all 400ms ease-in-out;
}

.page-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-section h2 {
  font-size: 50px;
  text-align: center;

  color: whitesmoke;
}

.page-section p {
  text-align: center;
  font-size: 22px;

  color: aqua;
}
