.agent {
  display: flex;
  justify-content: center;
}

.border-class {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1;

  top: 50px;
  left: 100px;
  width: 215px;
  height: 200px;

  border: 2px solid rgba(33, 176, 208, 0.15);
  border-radius: 50%;
  box-shadow: -10px -5px 30px black;

  background-color: rgba(33, 176, 208, 0.1);
}

.icon-class {
  position: absolute;
  z-index: 1;

  width: 100px;
}

.agent-body {
  position: absolute;
  z-index: 1;

  bottom: 5px;
  width: 1080px;
}
