
* {
    box-sizing: border-box;
      
    margin: 0;
    padding: 0;
}

.layout-pagina {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px 0;
    padding: 125px;

    background-color: rgba(0, 0, 0, 0.40);
}

.pagina-inicial {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo {
    font-size: 50px;
    text-align: center;

    color: whitesmoke;
}

.descricao {
    font-size: 22px;

    color: white;
}