.overview-agent {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 15px;
  right: 80px;

  width: 550px;
  height: 620px;

  padding: 35px;

  border-radius: 10%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
}

.agent-class {
  font-family: Tungsten-Font;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.agent-name {
  font-family: Tungsten-Font;
  font-size: 8.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;

  color: rgb(227, 227, 143);
}

.card-abilities {
  display: flex;
  gap: 2px;

  margin: 20px 0;
  cursor: pointer;
}

.agent-info {
  word-wrap: break-word;

  width: 500px;
  margin: 5px 0;

  font-family: Prompt;
  font-size: 1rem;
  font-weight: 600;

  color: rgb(227, 227, 200);
}

.name-class {
  font-family: Tungsten-Font;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: white;
}

.class-info {
  width: 500px;

  font-family: Prompt;
  font-size: 1rem;
  text-align: left;

  color: white;
}
