@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten-Font";
  src: url("/public/Tungsten-Bold.ttf") format("opentype");
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply font-tungsten font-prompt overflow-hidden;
    background-color: black;
  }
}
