@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Valorant-Font";
  src: url("/public/fonts/Valorant-Font.ttf") format("truetype");
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply font-prompt overflow-hidden;
  }
}

@layer utilities {
  .text-neon-blue {
    color: transparent;
    -webkit-text-stroke: 2px #00ffff; /* borda azul ciano */
    text-shadow:
      0 0 5px #00000000,
      0 0 10px #09086146,
      0 0 20px #09086121,
      0 0 40px #00ffff;
  }
}

