.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;

  height: 330px;
  margin: 50px 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.page-layout-agent {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 1;

  height: 300px;
  margin: 50px 0;

  transition: all 400ms ease-in-out;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page-image {
  position: absolute;
  top: 15px;
  opacity: 0;

  opacity: 0.5;

  width: 350px;
}

.page-title {
  font-size: 50px;
  text-align: center;
  z-index: 1;

  color: rgb(227, 227, 143);
}

.page-description {
  text-align: center;
  font-size: 22px;
  z-index: 1;

  color: aqua;
}
